<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ProbeApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_probe"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".DebugSessionActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".product.SettingsActivity" android:exported="false" />
        <!-- P0-1 launcher: the wrist companion Home. -->
        <activity
            android:name=".home.CompanionActivity"
            android:exported="true"
            android:theme="@style/CompanionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Phase 2A / Live2D regression entry point. Intentionally still startable on its own. -->
        <activity
            android:name=".product.HomeActivity"
            android:exported="true" />
    </application>
</manifest>
